# -----------------------------
# Сборка
bin/
obj/

# -----------------------------
# Среда разработки
.vs/
*.user
*.suo

# -----------------------------
# Временные файлы
*.log
*.tmp
*.cache
*.DS_Store  # для MacOS

# -----------------------------
# Исключаем файлы пакетов NuGet
*.nupkg
packages/

# -----------------------------
# Исключаем папки сборки тестов
TestResults/